/*
* CSS FOR Candidate
* CSS FOR Employer
*
*/

#users_container .users-section-info { padding-top: 50px; padding-bottom: 50px; }
#users_container #user_landing nav { border: 2px solid #355e6d; }
#users_container #user_landing .user-button { display: block; padding: 0.5rem 1rem; color: #445672; }
#users_container #user_landing .user-button.active {
  color: white;
  background-image: linear-gradient(to right, #456672, #6c97a7, #456672);
}
#users_container #user_landing {
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}

#users_banner {
  background-size: cover;
  background-position: center;
  min-height: 400px;
  position:relative;
}
#users_banner .users-image,
#users_banner canvas {
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  background-size: cover;
  background-position: center;
}
#users_banner .users-image { width: 200px; height: 200px; border-radius: 50%; background-color: #616a7f; }

/* EMPLOYER PAGE CSS */

#owner_profile_table .table-head { width: 100px; }

.nav .nav-link {
  background-image: linear-gradient(to right, #456672, #456672, #456672);
  border-radius: 0;
  text-align: center;
  color: white;
  font-size: 13px;
}
.nav .nav-link:hover,
.nav .nav-link.active { background-image: linear-gradient(to right, #456672, #6c97a7, #456672); border: 1px solid #456672; color: white; }

.employer-messages,
.employer-joblist { }
.employer-profiles .tab-content,
.employer-joblist .tab-content {
  border: 1px solid rgba(0, 0, 0, 0.15);
  min-height: 400px;
  word-break: break-word;
  background-color: white;
}
.employer-profiles .table-heading { width: 100px; }

/* END EMPLOYER PAGE CSS */
